{% extends 'restaurant/base.html' %}
{% block body %}
<div class="container">
<div class="row pt-5 mt-3">

  <div class="col-sm-6 mt-1">

    <div class="mb-3" ><h1 class="text-success font1 text-center headingFont">Vegeterian Food</h1></div>

    <div class="container" >
      <table class="table table-hover">
        <thead>
        <tr>
          <th>FoodItem</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="pt-3">Alo pratha</td>
          <td><i class="fa my-3">&#xf156;</i>60</td>
        </tr>
        <tr>
          <td class="pt-3">Dahi Bhalle</td>
          <td><i class="fa my-3">&#xf156;</i>80</td>
        </tr>
        </tbody>
      </table>
    </div>



  </div>


    <div class="col-sm-6 mt-1">

    <div class="mb-3" ><h1 class="text-danger font1 text-center headingFont">Non Vegeterian Food</h1></div>

    <div class="container" >
      <table class="table table-hover">
        <thead>
        <tr>
          <th>FoodItem</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="pt-3">Chicken Pratha</td>
          <td><i class="fa my-3">&#xf156;</i>90</td>
        </tr>
        <tr>
          <td class="pt-3">Butter Chicken</td>
          <td><i class="fa my-3">&#xf156;</i>180</td>
        </tr>
        </tbody>
      </table>
    </div>



  </div>







</div>
</div>
{% endblock %}





